@page "/AboutUs"
@model LEotA.Pages.AboutUsModel
@{
    
}
<div class="container border border-2">
    <h2>About Us</h2>
    @foreach (var product in Model.imgSrcDict)
    
        {
            <tr>
                <img class="float-right" src="@product.Key" />
                @* <td>@product.Id</td> *@
                @* <td>@product.Text</td> *@
                @* <td>@product.Image</td> *@
            </tr>
            <p class="align-center"> 
                @product.Value.Text 
            </p> 
        }
</div>