@page "/Events"
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@model LEotA.Pages.EventsModel
@{
	ViewBag.Title = "Events";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
}
<div class="container border border-2">
	<h2>About Us</h2>
	@{
		try
		{
			foreach (var _event in ((List<Event>) ViewData["event"]))
			{
				<div class="container">
					<p class="align-center"> @LocalizationHelper.GetTextByCulture(_event.Text, culture) </p>
				</div>
                
                @* <img class="float-right" src="data:image/jpeg;base64,@Convert.ToBase64String(aboutUs.Image)"/> *@
                

                @* <img alt="" src="@ViewData["img8642ECA1-1577-40C8-6FAA-08D98E3B2BA1"]" style="height:256px;width:256px;"/> *@

                @* <td>@product.Id</td> *@
                @* <td>@product.Text</td> *@
                @* <td>@product.Image</td> *@
                
			}
		}
		catch (Exception e)
		{
			<p>NULL</p>
		}
	}
</div>