@page "/Events"
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@using System.Collections
@model LEotA.Pages.EventsModel
@{
	ViewBag.Title = "Events";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.EnglishName;
}

<div class="container">
	<div class="container mb-5">
		@foreach (var _event in (IEnumerable<Event>) ViewData["event"])
		{
			<div class="row" >
				<div class="eventcard mb-3">
					<div class="row g-0">
						<div class="col-md-3 text-center border-right">
							<div class="big">@_event.DateTime.Day</div>
							<div class="bottom_event">@_event.DateTime.ToString("MMM") @_event.DateTime.Year</div> 
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-3">
									<img style="width:45%" src="/images/Logos LEA.png">
								</div>
								<div class="col-md-9">
									<h1 class="card-title text-center">@_event.Name.English</h1>
								</div>
							</div>
							<div class="row eventimage">
								<div class="col-md-9">
									<h5 class="card-title text-center">@_event.Text.English</h5>
								</div>
								<div class="col-md-3">
									<img src="/images/_JPG0330.JPG">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr aria-hidden="true">
		}
	</div>
</div>


@* @if ((TimeSpan)ViewData[_event.Id.ToString()] == new TimeSpan()) *@
@* { *@
@*   <p>Sorry the event is already over.</p> *@
@* } *@
@* else *@
@* { *@
@*   var x = (TimeSpan) ViewData[_event.Id.ToString()]; *@
@*   <p> @x.Days days and @x.Hours hours left</p>  *@
@* } *@
