@page "/Events"
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@using System.Collections
@model LEotA.Pages.EventsModel
@{
	ViewBag.Title = "Events";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.EnglishName;
	bool isFirst = true;
}
<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
	<div class="row">
		<div class="col input-group">
			<input class="checkbox" asp-for="ActiveOnly" value="true">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit">Show only active events</button>
			</div>
		</div>
	</div>
</form>
<div class="container">
	<div class="container mb-5">
		@foreach (var _event in (IEnumerable<Event>) ViewData["event"])
		{
			@if (!isFirst)
			{
				<hr aria-hidden="true">
			}
			else
			{
				isFirst = false;
			}
			<div class="row" >
				<div class="eventcard mb-3">
					<div class="row g-0">
						<div class="col-md-3 text-center border-right">
							
							<div class="big">@_event.DateTime.Day</div>
							<div class="bottom_event">@_event.DateTime.ToString("MMM") @_event.DateTime.Year</div>
							@if ((TimeSpan)ViewData[_event.Id.ToString()] == new TimeSpan())
							{
								<div class="bottomize">Sorry the event is already over.</div>
							}
							else
							{
								var x = (TimeSpan) ViewData[_event.Id.ToString()];
								<div class="bottomize"> @x.Days days and @x.Hours hours left</div>
							}
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-3">
									<img style="width:45%" src="/images/Logos LEA.png">
								</div>
								@if (culture == "ru")
								{
									<div class="col-md-9">
										<h1 class="card-title text-center">@_event.Name.Russian</h1>
									</div>
								}
								else
								{
									<div class="col-md-9">
										<h1 class="card-title text-center">@_event.Name.English</h1>
									</div>
								}
							</div>
							<div class="row eventimage">
								@if (culture == "ru")
								{
									<div class="col-md-9">
										<h5 class="card-title text-center">@_event.Text.Russian</h5>
									</div>
								}
								else
								{
									<div class="col-md-9">
										<h5 class="card-title text-center">@_event.Text.English</h5>
									</div>
								}
								<div class="col-md-3">
									<img src="/images/_JPG0330.JPG">
								</div>
								<div class="event_button">
									<a class="align-center" target="_blank" rel="noopener noreferrer" href="@_event.EmbedLink">Register</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		}
	</div>
</div>

