@page "/Gallery/{id}"
@using Microsoft.AspNetCore.Localization
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
  var images = (Dictionary<Album, List<FileContent>>)ViewData["albumId"];
  var totalimage = images.Values.First().Count / 4;
  var lastimages = images.Values.First().Count % 4;
  if (lastimages != 0)
  {
    totalimage++;
  }
  var j = 1;
}
@{
  try
  {

    @if (HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name == "en")
    {
      <h2 style="text-align:center">@images.Keys.First().Name.English</h2>
    }
    else
    {
      <h2 style="text-align:center">@images.Keys.First().Name.Russian</h2>
    }
    <div class="container">
      @for (int i = 0; i < totalimage; i++)
      {
        <div class="row mb-2">
          @if (i == totalimage-1)
          {
            foreach (var x in images.Values.First().GetRange(i*4,lastimages))
            {
              <div class="col-3 coverdiv">
                <img src="data:image;base64,@Convert.ToBase64String(@x.Content)" onclick="openModal();currentSlide(@j)" class="hover-shadow cursor cover">
              </div>
              j++;
            }
          }
          else
          {
            foreach (var x in images.Values.First().GetRange(i * 4, 4))
            {
              <div class="col-3 coverdiv">
                <img src="data:image;base64,@Convert.ToBase64String(@x.Content)" onclick="openModal();currentSlide(@j)" class="hover-shadow cursor cover">
              </div>
              j++;
            }
          }
        </div>
      }
    </div>
    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
          @foreach (var x in images.Values.First())
                {
                  <div class="mySlides">
                    <img src="data:image;base64,@Convert.ToBase64String(@x.Content)" style="width:100%">
                  </div>
                }
        
         <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
            <!-- Caption text -->
            <div class="caption-container">
              <p id="caption"></p>
            </div>
      </div>
    </div>
    
  }
  catch (Exception e)
  {
    <p>NULL</p>
  }
}
<script>
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>