@page
@inject CommonLocalizationService localizer
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
}
<div class="text-center">
    <h1 class="display-4">@localizer.Get("Welcome")</h1>
    <p>@localizer.Get("Learn")</p>
</div>

<!-- items being paged -->
<table class="table table-sm table-striped table-bordered">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>                

<!-- pager -->
@if (Model.Pager.Pages.Any())
{
    <nav class="table-responsive mb-5">
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @foreach (var p in Model.Pager.Pages)
            {
                <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/?p=@p">@p</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/?p=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/?p=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    </nav>
}

@* <div class="border-bottom-last-0 first-pt-0"> *@
@*     @{ *@
@*         try *@
@*         { *@
@*             foreach (var news in (List<News>)ViewData["newsList"]) *@
@*             { *@
@*                 <div class="jumbotron p-3 p-mb-5 text-white rounded"> *@
@*                     <div class="col-mb-6 px-0"> *@
@*                         <h1 class="display-4"><a asp-area="" asp-page="/News" asp-route="@news.Id">@LocalizationHelper.GetTextByCulture(news.Name, culture)</a></h1> *@
@*                     </div> *@
@*                     <p class="lead my-3">@LocalizationHelper.GetTextByCulture(news.Description, culture)</p> *@
@*                 </div> *@
@*             } *@
@*         } *@
@*         catch (Exception e) *@
@*         { *@
@*             <div class="container mb-3 border"> *@
@*                 <p>NULL</p> *@
@*             </div> *@
@*         } *@
@*     } *@