@page
@inject CommonLocalizationService localizer
@using LEotA.Services
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var newsGetPagedCount = (int) ViewData["newsGetPagedCount"];
    var newsGetPaged = (Dictionary<News, List<FileContent>>) ViewData["newsGetPaged"];
}

<div class="text-center mb-5">
    <h1 class="display-4 ">@localizer.Get("Welcome")</h1>
</div>

<!-- pagination -->
@{
    if (!(newsGetPagedCount>0))
    {
        <SfSpinner Visible="true" Lable="Loading data ...">
        </SfSpinner>
    }
    else
    {
    <div class="album py-5 bg-light"> 
        <div class="container">
            @for(int i=0;i<newsGetPagedCount/2;i++){
                <div class="row">
                    @if (i + 1 == newsGetPagedCount && newsGetPagedCount % 2 == 1)
                    {
                        foreach (var currentNews in newsGetPaged.GetRange(i * 2, 1))
                        {
                            <div class="col-6">
                                <div class="news-container">
                                    <img src="/images/_JPG0330.JPG">
                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@currentNews.Id">@currentNews.Name.English</a></h2>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="is-indented-2">@currentNews.Description.English</p>
                                    </div>
                                </div>
                                <hr aria-hidden="true">
                            </div>
                        }
                    }
                    else{
                    foreach (var currentNews in newsGetPaged.GetRange(i * 2, 2))
                    {
                        <div class="col-6">
                            <div class="news-container">
                                <img src="images/_JPG0330.JPG">
                                <div class="bottom-left">
                                    <h2 ><a asp-area="" asp-page="/News" asp-route-id="@currentNews.Id">@currentNews.Name.English</a></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="is-indented-2">@currentNews.Description.English</p>
                                </div>
                            </div>
                            <hr aria-hidden="true">
                        </div>
                    }
                    }
                </div>

            }
        </div>
        </div>
        <!-- pager -->
        {
            try
            {
                if (Model.Pager.Pages.Any())
                {
                    <nav class="table-responsive mb-5">
                        <ul class="pagination justify-content-center d-flex flex-wrap">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @foreach (var p in Model.Pager.Pages)
                            {
                                <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="/?p=@p">@p</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/?p=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/?p=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            }
            catch (Exception e)
            {
                <td>
                    <h2>ERROR:</h2>
                    <p>@e</p>
                </td>  
            }
        }
    }
}

<!-- laboratory staff photo -->

<div class="container-fluid">
    <i class="flag flag-ru"></i>
    <img src="/images/IMG_4463.JPG"/>
</div>