@page
@inject CommonLocalizationService localizer
@using LEotA.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">@localizer.Get("Welcome")</h1>
    <p>@localizer.Get("Learn")</p>
</div>
<div class="text-center">
    <a asp-page="/AdminPanel">Admin</a>
    <br>
    <a asp-page="/Login">@localizer.Get("Login")</a>
     
     
    @if(User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
     
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-page="/Register">@localizer.Get("Register")</a>
        <a asp-page="/GetClientSecretTestPage">TEST</a>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>