@page "{language?}"
@inject CommonLocalizationService localizer
@using LEotA.Services
@using System.Linq;
@using Microsoft.AspNetCore.Localization
@model MainPageModel
@{
    try
    {
        ViewData["Title"] = "Home page";
        var newsGetPagedCount = (int) ViewData["newsGetPagedCount"];
        var currentPage = Model.cPage;
        
        var newsImages = (Dictionary<News, List<FileContent>>) ViewData["newsListWithImage"];
    
        var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
        
        
    <div class="text-center mb-5">
        <h1 class="display-4 ">@localizer.Get("Welcome")</h1>
    </div>


    @if (!(newsGetPagedCount > 0))
    {
        <SfSpinner Visible="true" Lable="Loading data ...">
        </SfSpinner>
    }
    else
    {
        
        <div class="album py-5 bg-light">
            <div class="container">
                    @for (int i = 0; i < (newsGetPagedCount)/2 + newsGetPagedCount%2; i++)
                    {
                        if (Model.Pager.CurrentPage<1)
                        {
                            <div class="row">
                            @if (i == newsGetPagedCount/2 && newsGetPagedCount % 2 == 1)
                            {
                                for (int j = 0; j < newsGetPagedCount % 2; j++)
                                {
                                    var image = newsImages.Values.ElementAt(i*2+j);
                                    var newsText = newsImages.Keys.ElementAt(i*2+j);
                                    <div class="col-6">
                                        <div class="news-container">
                                            @if (image.FirstOrDefault() != null)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(image.FirstOrDefault().Content)" alt="">
                                            }
                                            else
                                            {
                                                <img src="/images/IMG_5122.JPG" alt="">
                                            }
                                            <p class="top-right">@newsText.Time.Day - @newsText.Time.Month - @newsText.Time.Year</p>
                                            <p class="bottom-right">@newsText.Author</p>
                                            @if (culture == "en")
                                            {
                                                if (newsText.Description.English.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.English" target="_blank">@newsText.Name.English</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.English</a></h2>
                                                }
                                                    
                                            }
                                            else
                                            {
                                                if (newsText.Description.Russian.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.Russian" target="_blank">@newsText.Name.Russian</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.Russian</a></h2>
                                                }
                                            }
                                        </div>
                                        <hr aria-hidden="true">
                                    </div>
                                }
                            }

                            else
                            {
                                @for (int j = 0; j < 2; j++)
                                {
                                    var image = newsImages.Values.ElementAt(i * 2 + j);
                                    var newsText = newsImages.Keys.ElementAt(i * 2 + j);
                                    <div class="col-6">
                                    
                                        <div class="news-container">
                                            @if (image.FirstOrDefault() != null)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(image.FirstOrDefault().Content)" alt="">
                                            }
                                            else
                                            {
                                                <img src="/images/IMG_5122.JPG" alt="">
                                            }
                                            <p class="top-right">@newsText.Time.Day - @newsText.Time.Month - @newsText.Time.Year</p>
                                            <p class="bottom-right">@newsText.Author</p>
                                            @if (culture == "en")
                                            {
                                                if (newsText.Description.English.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.English" target="_blank">@newsText.Name.English</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.English</a></h2>
                                                }
                                                    
                                            }
                                            else
                                            {
                                                if (newsText.Description.Russian.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.Russian" target="_blank">@newsText.Name.Russian</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.Russian</a></h2>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        }
                        else
                        {
                            <div class="row">
                            @if (i == newsGetPagedCount/2 && newsGetPagedCount % 2 == 1)
                            {
                                for (int j = 0; j < newsGetPagedCount % 2; j++)
                                {
                                    var image = newsImages.Values.ElementAt(i*2+j);
                                    var newsText = newsImages.Keys.ElementAt(i*2+j);
                                    <div class="col-6">
                                        <div class="news-container">
                                            @if (image.FirstOrDefault() != null)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(image.FirstOrDefault().Content)" alt="">
                                            }
                                            else
                                            {
                                                <img src="/images/IMG_5122.JPG" alt="">
                                            }
                                            <p class="top-right">@newsText.Time.Day - @newsText.Time.Month - @newsText.Time.Year</p>
                                            <p class="bottom-right">@newsText.Author</p>
                                            @if (culture == "en")
                                            {
                                                if (newsText.Description.English.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.English" target="_blank">@newsText.Name.English</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.English</a></h2>
                                                }
                                                    
                                            }
                                            else
                                            {
                                                if (newsText.Description.Russian.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.Russian" target="_blank">@newsText.Name.Russian</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.Russian</a></h2>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }

                            else
                            {
                                @for (int j = 0; j < 2; j++)
                                {
                                    var image = newsImages.Values.ElementAt(i * 2 + j);
                                    var newsText = newsImages.Keys.ElementAt(i * 2 + j);
                                    <div class="col-6">
                                    
                                        <div class="news-container">
                                            @if (image.FirstOrDefault() != null)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(image.FirstOrDefault().Content)" alt="">
                                            }
                                            else
                                            {
                                                <img src="/images/IMG_5122.JPG" alt="">
                                            }
                                            <p class="top-right">@newsText.Time.Day - @newsText.Time.Month - @newsText.Time.Year</p>
                                            <p class="bottom-right">@newsText.Author</p>
                                            @if (culture == "en")
                                            {
                                                if (newsText.Description.English.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.English" target="_blank">@newsText.Name.English</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.English</a></h2>
                                                }

                                            }
                                            else
                                            {
                                                if (newsText.Description.Russian.StartsWith("http"))
                                                {
                                                    <h2 class="bottom-left"><a href="@newsText.Description.Russian" target="_blank">@newsText.Name.Russian</a></h2>
                                                }
                                                else
                                                {
                                                    <h2 class="bottom-left"><a asp-area="" asp-page="/News" asp-route-id="@newsText.Id">@newsText.Name.Russian</a></h2>
                                                }
                                            }
                                        </div>
                                        
                                    </div>
                                }
                            }
                        </div>
                        }
                        
                    }
                   
            </div>
        </div>

        <div class="space" data-height="20px" data-width="100%"></div>

        @if (Model.Pager.Pages.Any())
        {
            <nav class="table-responsive" style="margin-bottom: 75px">
                <ul class="pagination justify-content-center d-flex flex-wrap">
                    @if (currentPage > 1)
                    {
                        @if (Model.Pager.TotalItems > 2)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/">First</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="/@culture/mainpage?p=@(currentPage - 1)">Previous</a>
                        </li>
                    }
    
                    @for (int p=1;p<Model.Pager.TotalItems+1;p++)
                    {
                        <li class="page-item @(p == currentPage ? "active" : "")">
                            <a class="page-link" href="/@culture/mainpage?p=@p">@p</a>
                        </li>
                    }
    
                    @if (currentPage < Model.Pager.TotalItems)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/@culture/mainpage?p=@(currentPage + 1)">Next</a>
                        </li>
                        if (Model.Pager.TotalItems > 2)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/@culture/mainpage?p=@(Model.Pager.TotalItems)">Last</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        }
    }
    
    }

    catch (Exception e)
    { 
        @*     <p>NULL</p> *@
        <a><img style="margin-bottom:50px;" class="construction-img " src="/images/under-construction_geek_man_01.svg"></a>
    }
}
