@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@model PublicationsModel

@inject IViewLocalizer Localizer

@{
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.EnglishName;
	var publications = (Dictionary<Publication,List<FileContent>>) ViewData["publication"];
}
@{
	try
	{
		<div class="container mb-5">
			<form method="get">
				<div class="row">
					<div class="col input-group">
						<input class="form-control" asp-for="SearchYear">
						<div class="input-group-append">
							<button class="btn btn-secondary" type="submit">Search by Year</button>
						</div>
					</div>
					<div class="col input-group">
						<input class="form-control" asp-for="SearchName">
						<div class="input-group-append">
							<button class="btn btn-secondary" type="submit">Search by Name</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		@foreach (var _public in publications)
		{
			var content = _public.Value.FirstOrDefault()?.Content;
			if (content != null)
			{
				await System.IO.File.WriteAllBytesAsync("hello.pdf", content);
			}
			<div class="list-group mt-3">
				<a target="_blank" rel="noopener noreferrer" href="@_public.Key.EmbedLink" class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						@if (culture == "ru")
						{
							<h5 class="mb-1">@_public.Key.Name.Russian</h5>
						}
						else
						{
							<h5 class="mb-1">@_public.Key.Name.English</h5>
						}
						<small>@_public.Key.Time.Day / @_public.Key.Time.Month / @_public.Key.Time.Year </small>
					</div>
					<div class="d-flex flex-row-reverse">
						@if (culture == "ru")
						{
							<small>@_public.Key.Text.Russian </small>
						}
						else
						{
							<small>@_public.Key.Text.English </small>
						}
					</div>
				</a>
			</div>
		}
	}
	catch (Exception e)
	{
		
	}
	
}