@page
@model LEotA.Pages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <h2 class="text-info pt-2 pb-3">Create a new account</h2>
    <form method="post">
        <div class="row">
            <div class="col-sm">
                <div>
                    @Html.LabelFor(m => m.Input.FirstName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.LastName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.PatronomicName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.EmbedLink)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.Password)
                </div>
                <div>
                    @Html.LabelFor(m => m.Input.ConfirmPassword)
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <input type="text" name="firstName">
                </div>
                <div>
                    <input type="text" name="lastName">
                </div>
                <div>
                    <input type="text" name="patronomicName">
                </div>
                <div>
                    <input type="text" name="embedLink">
                </div>
                <div>
                    <input type="text" name="email">
                </div>
                <div>
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="password" name="confirmPassword">
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Регистрация"/>
        </div>
    </form>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}