@page
@model StaffModel
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Staff");
    var staffList = (Dictionary<Staff,List<FileContent>>)ViewData["staff"];
    var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var staffCount = staffList.Count;
}
@{
    try{
        <div class="py-5">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-7 text-center">
                        <h3 class="mb-3">@localizer.Get("OurTeam")</h3>
                    </div>
                </div>
                    @for (int i = 0; i < staffCount / 4; i++)
                    {
                        <div class="row justify-content-center">
                            @for (int j = 0; j < 4; j++)
                            {
                                //var staff = staffList.Keys.ElementAt(i * 4 + j);
                                <div class="col-lg-2 mb-4 ml-3">
                                    <div class="row border border-dark mt-2 mb-2">
                                        <div class="col-md-12 align-center mt-2">
                                            <a href="@staffList.Keys.ElementAt(i*4+j).EmbedLink">
                                               @if (staffList.Values.ElementAt(i* 4 + j).FirstOrDefault()?.Content != null)
                                               
                                               {
                                                   <img src="data:image;base64,@Convert.ToBase64String(staffList.Values.ElementAt(i * 4 + j).FirstOrDefault()?.Content)" class="img-fluid" style="height: 200px"/>
                                               }
                                               else
                                               {
                                                   <img src="/images/outline-gdaf5b1ada_1920.png" class="img-fluid" style="height: 200px"/>
                                               }
                                            </a>
                                        </div>
                                        <div class="col-md-12 text-center" style="height:400px">
                                            <div class="pt-2">
                                                @if (culture == "en")
                                                {
                                                    <h5 class="mt-4 font-weight-medium mb-3">@staffList.Keys.ElementAt(i*4+j).Name.English</h5>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Degree.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Title.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Position.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Text.English</h6>
                                                }
                                                else
                                                {
                                                    <h5 class="mt-4 font-weight-medium mb-3">@staffList.Keys.ElementAt(i*4+j).Name.Russian</h5>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Degree.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Title.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Position.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(i*4+j).Text.Russian</h6>
                                                }
                                                <ul class="list-inline align-center bottomize" style="left:0; width:100%">
                                                    <li class="list-inline-item">
                                                        <a class="btn btn-outline-light btn-floating m-1 text-black-50" role="button">
                                                            <i class="fas fa-inbox mr-3"></i>
                                                            <p style="width: 182px"><em class="ow-break-word">@staffList.Keys.ElementAt(i*4+j).Email</em></p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                @if(staffCount%4>0)
                    {
                        <div class="row justify-content-center">
                            @for (int j = 0; j < staffCount%4; j++)
                            {
                                <div class="col-lg-2 mb-4 ml-3">
                                    <div class="row border border-dark mt-2 mb-2">
                                        <div class="col-md-12 align-center mt-2">
                                            <a href="@staffList.Keys.ElementAt(staffCount / 4 * 4 + j).EmbedLink">
                                                @if (staffList.Values.ElementAt(staffCount / 4 * 4 + j).FirstOrDefault()?.Content != null)
                                                {
                                                    <img src="data:image;base64,@Convert.ToBase64String(staffList.Values.ElementAt(staffCount / 4 * 4 + j).FirstOrDefault()?.Content)" class="img-fluid" style="height: 200px"/>
                                                }
                                                else
                                                {
                                                    <img src="/images/outline-gdaf5b1ada_1920.png" class="img-fluid" style="height: 200px"/>
                                                }
                                            </a>
                                        </div>
                                        <div class="col-md-12 text-center" style="height:400px">
                                            <div class="pt-2">
                                                @if (culture == "en")
                                                {
                                                    <h5 class="mt-4 font-weight-medium mb-3">@staffList.Keys.ElementAt(staffCount/4*4+j).Name.English</h5>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Degree.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Title.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Position.English</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Text.English</h6>
                                                }
                                                else
                                                {
                                                    <h5 class="mt-4 font-weight-medium mb-3">@staffList.Keys.ElementAt(staffCount/4*4+j).Name.Russian</h5>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Degree.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Title.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Position.Russian</h6>
                                                    <h6 class="subtitle mb-0">@staffList.Keys.ElementAt(staffCount/4*4+j).Text.Russian</h6>
                                                }
                                                <ul class="list-inline align-center bottomize" style="left:0; width:100%">
                                                    <li class="list-inline-item border">
                                                        <a class="btn btn-outline-light btn-floating m-1 text-black-50" role="button">
                                                            <i class="fas fa-inbox mr-3"></i>
                                                            <p style="width: 182px"><em class="ow-break-word">@staffList.Keys.ElementAt(staffCount/4*4+j).Email</em></p>
                                                            
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
            </div>
        </div>
    }
    catch (Exception e)
    {
        <p>NULL</p>
    }
}

