@using LEotA.Services
@using System.Threading
@inject CommonLocalizationService localizer
<title>@ViewData["Title"] - @localizer.Get("Localisation")</title>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-1" id="nav-bg">
    <div class="container">
        <div>
            <a class="navbar-brand" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Index"><img src="/images/Logo LEA with white elme.png"></a>
        </div>
        <div>
            @* @{ *@
            @*     if (localizer.Get("CurrentCulture") == "ru") *@
            @*     { *@
            @*         <i class="flag flag-ru" style="width: 100px; height:auto;"></i> *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         <i class="flag flag-es" style="width: 100px; height:auto;"></i> *@
            @*     } *@
            @* } *@
            
            <div class="align-right">
                
                @if (Thread.CurrentThread.CurrentUICulture.Name == "ru")
                {
                    <img src="/images/ru.svg" style="max-width: 30px;">
                }
                else
                {
                    <img src="/images/us.svg" style="max-width: 30px;">
                }
                <vc:culture-switcher/>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="align-right">
                    <small><p>Hello, @User.Claims.Where(d => d.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname").Select(d => d.Value).FirstOrDefault().ToString() @User.Claims.Where(d => d.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname").Select(d => d.Value).FirstOrDefault().ToString()</p> </small>
                    <small><a asp-page="/Logout">@localizer.Get("Logout")</a></small>
                </div>
            }
            else
            {
                <div class="align-right">
                    <small><a asp-page="/Login">@localizer.Get("Login")</a></small>
                </div>
                <div class="align-right">
                    <small><a asp-page="/Register">@localizer.Get("Register")</a></small>
                </div>
            }
        </div>
    </div>
    
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div id="page-wrapper" class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/MainPage">@localizer.Get("Home")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                        <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/AboutUs">@localizer.Get("AboutUs")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Events">@localizer.Get("Events")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Album">@localizer.Get("Gallery")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Projects">@localizer.Get("Projects")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Publications">@localizer.Get("Publications")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/Staff">@localizer.Get("Staff")</a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav flex-grow-2">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-area="" asp-page="/MaterialsPage">@localizer.Get("Materials")</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
