@using LEotA.Services
@inject CommonLocalizationService localizer
<title>@ViewData["Title"] - @localizer.Get("Localisation")</title>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-1" id="nav-bg">
    <div class="container">
        <div>
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="https://nauka.s-vfu.ru/offers/linglab_arctic/block/logo_w.png"></a>
        </div>
        <div>
        <vc:culture-switcher/>
        @if(User.Identity.IsAuthenticated)
                {
                    <p>@User.Identity.Name</p>
                 
                    <a asp-page="/Logout">@localizer.Get("Logout")</a>
                }
                else
                {
                    <a asp-page="/Login">@localizer.Get("Login")</a>
                }
        </div>
    </div>
    
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div id="page-wrapper" class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">@localizer.Get("Home")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">@localizer.Get("AboutUs")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Events">@localizer.Get("Events")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Gallery">@localizer.Get("Gallery")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Projects">@localizer.Get("Projects")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Publications">@localizer.Get("Publications")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Staff">@localizer.Get("Staff")</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/MaterialsPage">Материалы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
